<h1>Comments#show</h1>
<ul>
<li><%= @comment.commenter %></li>
<li><%= @comment.description %></li>
</ul>
<li><%= link_to "Destroy", article_comment_path(@comment), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure for delete article?"
                  } %></li>

                  <% byebug %>

<li><%= link_to "Edit" ,edit_article_comment_path(@article, @comment) %></li>
