<h1>Articles#show</h1>
<ul>
<li><%= @article.title %></li>
<li><%= @article.description %></li>
</ul>
<li><%= link_to "New comment", new_article_comment_path(@article) %></li>
<li><%#= link_to "comment", article_comment_path(@article.comments) %></li>