<body style="background-color:lightyellow;">
<h1>Posts</h1>
<% @posts.each do |post| %>
  <ul>
    <li><%= link_to post.title, article_post_path(id:post.id) %></li>
    <li><%= post.description %></li>
  </ul>
<% end %>
</body>
