<body style="background-color:lightyellow;">
<center><h2>Add post:</h2></center>
<div class="container", style="width:40rem" >
  <%= form_tag article_posts_path, method: :post do %>
    <p>
      <%= text_field_tag :title %>
    </p>
    <p>
      <%= text_field_tag :description %>
    </p>
    <p>
      <%= submit_tag %>
    </p>
  <% end %>
</div>
</body>