<h1>Post</h1>
<ul>
	<li><%= @post.title %></li>
	<li><%= @post.description %></li>
</ul>
<% if @post.user_id == current_user.id %>
<li><%= link_to "Destroy", article_post_path(@article, @post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure for delete article?"
                  } %></li>
                

<li><%= link_to "Edit" ,edit_article_post_path(@article, @post) %></li>
<% end %>